.text-field {
  width: 100%;
  padding: 14px var(--spacing-md);
  border: 2px solid var(--usto-gray-100);
  border-radius: var(--radius-sm);
  background-color: var(--usto-alt-white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.448;
  letter-spacing: -0.03em;
  color: var(--usto-primary-300);
  outline: none;
  transition: border-color 0.2s;
}

.text-field::placeholder {
  color: var(--usto-gray-100);
}

.text-field:focus {
  border-color: var(--usto-primary-200);
}

@media (max-width: 768px) {
  .text-field {
    font-size: 18px;
    padding: 12px 16px;
  }
}
