* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.form-error {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 12px;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
